body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: linear-gradient(135deg, #eaf99138, rgb(234, 66, 114));
  min-height: 100vh;
}

/* Hero styles */
.hero {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}
